<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Info</title>
</head>
<body>
    <h1>ITEM NAME</h1>
    <p>Price: PRICE</p>
    <p>Description: ITEM DESC</p>
    <p>Sold By: SELLER</p>

    <!-- Only appears if user posted it -->
    <a href="">Edit</a>
    <!-- Will DELETE item from DB -->
    <a href="">Purchase</a>
</body>
</html>